<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Markus Reiter</string>
	<key>description</key>
	<string>OpenCL Syntax</string>
	<key>name</key>
	<string>OpenCL</string>
	<key>uuid</key>
	<string>537B4B71-21AB-437C-B226-EB37459B23A2</string>
</dict>
</plist>
